@* Footer.razor *@
<footer class="footer py-4 border-top bg-white mt-4">
    <div class="container footer-container">
        <!-- Logo y Copyright siempre juntos -->
        <div class="footer-brand">
            <img src="/images/Weiderlogo.png" alt="Tentalo Logo" class="footer-logo" />
            <span class="footer-copyright">© 2025 WEIDER NUTRITION SL </span>
        </div>
        <!-- Enlaces de navegación -->
        <div class="footer-nav">
            <a href="/catalogo" class="footer-link">Catálogo</a>
            <a href="/ofertas" class="footer-link">Ofertas</a>
            <a href="/novedades" class="footer-link">Novedades</a>
            <a href="/politica-privacidad" class="footer-link">Política de Privacidad</a>
        </div>
    </div>
</footer>
