<footer class="footer py-4 border-top bg-white mt-4">
  <div class="container d-flex flex-column flex-lg-row justify-content-between">
    <div>Power by: © Tentalo (2025)</div>
    <div><a href="/catalogo" class="link-secondary me-3">Catálogo</a><a href="/ofertas" class="link-secondary me-3">Ofertas</a><a href="/novedades" class="link-secondary">Novedades</a></div>
  </div>
</footer>